/* Estilos para el encabezado */
header {
  background-color: #8904B1;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #FFFFFF;
  font-size: 36px;
  margin: 0;
}

/* Estilos para el menú de navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover {
  color: #FF0000;
}

/* Estilos para el contenido principal */
main {
  margin: 0 auto;
  max-width: 1200px;
}

/* Estilos para las secciones */
section {
  padding: 20px;
}

section h2 {
  color: #fffffff;
  font-size: 24px;
  margin: 0;
}

/* Estilos para los párrafos */
p {
  font-size: 18px;
  line-height: 1.5;
}

/* Estilos para las imágenes */
img {
  max-width: 100%;
}

/* Estilos para el pie de página */
footer {
  background-color: #9370DB;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

a {
  color: #006699; /* especifica el color del texto */
  text-decoration: none; /* elimina el subrayado */
  font-weight: bold; /* especifica el peso del texto */
}

a:hover {
  color: #ff6600; /* especifica el color del texto al pasar el cursor */
  text-decoration: underline; /* agrega subrayado al pasar el cursor */
}

a:active {
  color: #ff0000; /* especifica el color del texto al presionar el enlace */
}